<launch>
	<arg name="bd_list" default="100000000000000"/>
	<arg name="frequency" default="20"/>
	<param name="livox_msg_type" type="int" value="0"/>

	<node name="livox_lidar_publisher" type="livox_lidar_node" pkg="livox_ros_driver"
			required="true" output="screen" args="$(arg bd_list)">
		<param name="frequency" type="int" value="$(arg frequency)"/>
	</node>

	<node name="rviz" pkg="rviz" type="rviz" respawn="true"
			args="-d $(find livox_ros_driver)/config/display_lidar_points.rviz"/>
</launch>
